<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <title>Perform Draw</title>
</head>

<body>
<div id="keypad" class="mainStyle">
    <form th:action="@{/draw}" method="post">
        <div align="center">
            <input type="submit" value="Perform Draw" class="myButton">
        </div>
    </form>

    <h4 style="color: #528ECC">Or</h4>
    <form action="/index" method="post">
        <input type="submit" value="Register another ticket" class="myButton">

    </form>

</div>
</body>
</html>